<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <mat-toolbar class="mat-elevation-z8">

  Responsive side navigation
</mat-toolbar> -->

<button
mat-icon-button
*ngIf="sidenav.mode === 'over'"
(click)="sidenav.toggle()"
>
<mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
<mat-icon *ngIf="sidenav.opened"> close </mat-icon>
</button>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <!-- <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider> -->


    <button mat-button class="menu-button" routerLink="./merchants">
      <mat-icon>home</mat-icon>
      <span>Merchants</span>
    </button>
    <button mat-button class="menu-button" routerLink="./deals">
      <mat-icon>home</mat-icon>
      <span>Deals</span>
    </button>
    <button mat-button class="menu-button" routerLink="./home">
      <mat-icon>person</mat-icon>
      <span>TEST</span>
    </button>
    <!-- <button mat-button class="menu-button" routerLink="./services">
      <mat-icon>info</mat-icon>
      <span>Services</span>
    </button> -->
    <!-- <button mat-button class="menu-button" routerLink="./contact">
      <mat-icon>info</mat-icon>
      <span>Contact</span>
    </button> -->

    <!-- <mat-divider></mat-divider> -->

    <div class="relative flex items-end flex-grow items-end">
      <button mat-button class="menu-button" routerLink="/help" (click)="logout()">
        <mat-icon>help</mat-icon>
        <span>Logout</span>
      </button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

